.item{
    border: 2px dashed #333;
    margin: 10px 0;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.item.available{
    border-color:  green;
}

.item.unavailable{
    border-color:  red;
}