<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Artoo Campus - Filters</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="ui/appbar/appbar.css">
    <!--<link rel="stylesheet" href="ui/form/form.css">-->
  </head>
  
  <body ng-app="artoo">
    <appbar></appbar>
    <div ng-controller="ItemsCtrl">
      <!-- CREO UNA SELECT PER SCEGLIERE COME FILTRARE LA LISTA-->
      <h2>Order By</h2>
      <select name="orderBySelect" ng-options="option.prop as option.title for option in orderByOptions" ng-model="selectedOrderByOption"></select>
      
      <label>Reverse?
        <input type="checkbox" ng-model="selectedReverse">
      </label>
      <!--{{selectedOrderByOption}} , {{selectedReverse}}-->
      
      
      <form name="Form">
        
      <h2>Filter</h2>
      <input type="text"  ng-model="search[selectFilterProp]" >
      
      <label>Only Suitable?
      <input type="checkbox"  ng-model="onlySuitable" >
      </label>
     <!--{{Form.$dirty}}-->
      <label>
        All
      <input type="radio" ng-model="selectFilterProp" value="$">
      </label>
      
      <label>
        Name
      <input type="radio" ng-model="selectFilterProp" value="name">
      </label>
      
      <label>
        Description
      <input type="radio" ng-model="selectFilterProp" value="description">
      </label>
      </form>
      
      
      <h2>Items</h2>
      <ul>
        <!-- get a list of items -->
        <!-- INSERISCO I FILTRI IN UN BLOCCO PRIMO PARAMETRO OGGETTO, SECONDO BOOLEAN-->
        <li ng-repeat="item in items | suitability:onlySuitable | filter:search | orderBy:selectedOrderByOption:selectedReverse">
          
          <h3> {{::item.name}}, {{::item.price | price}}, {{::item.availability | availability}}</h3>
           <h4>Races : {{::item.races | races }}</h4>
           <h5>Suitable? : {{::item.races | suitable | yesOrNo}}</h4>
          <p>{{::item.description}}</p>
          <p>Created at: {{item.createdAt | date: 'dd/MM/yyyy'}} at  {{item.createdAt | date: 'mm:ss'}}</p>
           <hr>
        </li>
      </ul>
    </div>
    <!-- sort items by price -->
    <!-- sort items by name -->
    <!-- filter items for name -->
    <!-- implement a filter for prices -->
    <!-- implement a filter for availability -->
    
    
    
    <!-- implement a filter for races -->
    
    <!-- implement a filter for suitabilty -->
    
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ui/appbar/appbar.js"></script>
    <script src="subjects/filters/app.js"></script>
    <script src="subjects/filters/items.controller.js"></script>
    <script src="subjects/filters/items.filter.js"></script>
    <script src="subjects/filters/player.service.js"></script>
    <script src="subjects/filters/text.filter.js"></script>
  </body>
</html>